@charset "UTF-8";

body {
  font-family: OpenSans, Arial, sans-serif;
}

/* /Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/* /Обнуление*/

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-Light.woff") format("woff"), url("../fonts/OpenSans-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-SemiBold.woff") format("woff"), url("../fonts/OpenSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSansCondensed";
  font-display: swap;
  src: url("../fonts/OpenSansCondensed-Bold.woff") format("woff"), url("../fonts/OpenSansCondensed-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

.header__container {
  padding: 20px 0 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__company-specialization {
  width: 220px;
  font-size: 14px;
  color: #0096dc;
  line-height: 18px;
}

.header__call-measurer {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 170px;
  height: 60px;
  border-radius: 10px;
  border: 2px solid #55a831;
  background-color: #fff;
}

.header__call-measurer-img {
  width: 30px;
  margin-left: 15px;
}

.header__call-measurer-text {
  color: #55a831;
  font-size: 14px;
  font-weight: 700;
  text-align: left;
  margin-left: 10px;
}

.header__work-time {
  width: 150px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header__work-time-img {
  width: 30px;
  margin-top: -15px;
  position: absolute;
  top: 50%;
  left: 0;
}

.header__work-time-text {
  color: #333333;
  margin-bottom: 9px;
}

.header__work-time-time {
  font-size: 18px;
  font-weight: 700;
  color: #333333;
}

.header__tel {
  width: 230px;
  height: 50px;
}

.header__tel-img {
  width: 20px;
  float: left;
}

.header__tel-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header__tel-number {
  display: block;
  color: #333333;
  font-size: 23px;
  font-weight: 700;
}

.header__tel-callback {
  display: block;
  color: #0089cc;
  font-size: 15px;
  font-weight: 400;
  text-decoration: underline;
  margin-top: 10px;
  background-color: transparent;
}

.container {
  max-width: 1170px;
  margin: auto;
  padding: calc(30px + 50 * ((100vw - 320px) / (1170 - 320))) 0;
}

.screen-1 {
  height: 640px;
  background: url("../img/bg-1.jpg") center center no-repeat;
  background-size: cover;
}

.screen-1__container {
  padding: 0 !important;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.screen-1__text-container {
  margin-bottom: 150px;
}

.screen-1__text-small {
  color: #333333;
  font-size: calc(17px + 9 * ((100vw - 320px) / 850));
  font-weight: 700;
  margin-bottom: 35px;
}

.screen-1__text-big {
  color: #333333;
  font-size: calc(34px + 21 * ((100vw - 320px) / 850));
  font-weight: 700;
}

.screen-1__feedback {
  position: absolute !important;
  right: 0;
}

.advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.advantages__item {
  width: 110px;
  height: 110px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  background-color: #0d8fe3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.advantages__item:not(:last-child) {
  margin-right: 20px;
}

.advantages__text {
  text-transform: uppercase;
  color: #ffffff;
  font-family: "OpenSansCondensed";
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 30px;
  text-align: center;
}

.advantages__img-container {
  width: 52px;
  height: 44px;
  position: absolute;
  margin-top: -18px;
  top: 0;
  margin-left: -26px;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feedback {
  min-width: 320px;
  max-width: 370px;
  height: 442px;
  border-radius: 10px;
  background-color: #ffffff;
  padding: 40px 0;
  text-align: center;
  position: relative;
}

.feedback__text-small {
  color: #333333;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

.feedback__text-big {
  color: #333333;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 40px;
}

.feedback__item {
  width: 270px;
  height: 60px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  margin-bottom: 20px;
  text-align: center;
  font-size: 20px;
}

.feedback__item::-webkit-input-placeholder {
  color: #999999;
  font-size: 15px;
}

.feedback__item::-moz-placeholder {
  color: #999999;
  font-size: 15px;
}

.feedback__item:-ms-input-placeholder {
  color: #999999;
  font-size: 15px;
}

.feedback__item::-ms-input-placeholder {
  color: #999999;
  font-size: 15px;
}

.feedback__item::placeholder {
  color: #999999;
  font-size: 15px;
}

.feedback__submit {
  width: 270px;
  height: 80px;
  -webkit-box-shadow: 0 2px 20px rgba(255, 153, 0, 0.4);
          box-shadow: 0 2px 20px rgba(255, 153, 0, 0.4);
  border-radius: 10px;
  border: 1px solid #ffc600;
  background-color: #e8e8e8;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffed26), to(#ffb400));
  background-image: -o-linear-gradient(top, #ffed26 0%, #ffb400 100%);
  background-image: linear-gradient(to bottom, #ffed26 0%, #ffb400 100%);
  margin-bottom: 20px;
  color: #000000;
  font-family: "OpenSansCondensed";
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.feedback__subtext {
  color: #666666;
  font-size: 11px;
  font-weight: 300;
}

.screen-glazing {
  background-color: #ffffff;
}

.screen-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  line-height: 1.2;
}

.screen-title__container {
  margin-bottom: calc(40px + 40 * ((100vw - 320px) / (1170 - 320)));
}

.screen-title__text {
  font-size: calc(24px + 6 * ((100vw - 320px) / 850));
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 23px;
}

.screen-title__text_color_black {
  color: #333333;
}

.screen-title__text_color_white {
  color: #ffffff;
}

.screen-title__line {
  width: 170px;
  height: 2px;
}

.screen-title__line_color_blue {
  background: -webkit-gradient(linear, left top, right top, from(rgba(41, 156, 230, 0)), color-stop(50%, #299ce6), to(rgba(41, 156, 230, 0)));
  background: -o-linear-gradient(left, rgba(41, 156, 230, 0) 0%, #299ce6 50%, rgba(41, 156, 230, 0) 100%);
  background: linear-gradient(to right, rgba(41, 156, 230, 0) 0%, #299ce6 50%, rgba(41, 156, 230, 0) 100%);
}

.screen-title__line_color_white {
  background: -webkit-gradient(linear, left top, right top, from(rgba(230, 243, 249, 0)), color-stop(50%, #e6f3f9), to(rgba(230, 243, 249, 0)));
  background: -o-linear-gradient(left, rgba(230, 243, 249, 0) 0%, #e6f3f9 50%, rgba(230, 243, 249, 0) 100%);
  background: linear-gradient(to right, rgba(230, 243, 249, 0) 0%, #e6f3f9 50%, rgba(230, 243, 249, 0) 100%);
}

.select-glazing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.select-glazing > input {
  display: none;
}

.select-glazing input[type="radio"]:checked + label {
  text-decoration: none;
  color: #464646;
}

.select-glazing > input:nth-of-type(1):checked ~ div:nth-of-type(1),
.select-glazing > input:nth-of-type(2):checked ~ div:nth-of-type(2),
.select-glazing > input:nth-of-type(3):checked ~ div:nth-of-type(3),
.select-glazing > input:nth-of-type(4):checked ~ div:nth-of-type(4),
.select-glazing > input:nth-of-type(5):checked ~ div:nth-of-type(5) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.glazing-item {
  width: 140px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  text-decoration: underline;
  color: #249ae6;
  position: relative;
  -webkit-transition: color 0.7s;
  -o-transition: color 0.7s;
  transition: color 0.7s;
}

.glazing-item:hover {
  color: lightgreen;
  -webkit-transition: color 0.7s;
  -o-transition: color 0.7s;
  transition: color 0.7s;
}

.glazing-item__img {
  max-width: 100px;
  width: 100%;
  margin-bottom: 30px;
}

.glazing-item__text {
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
}

.cold-warm {
  display: none;
  width: 100%;
  margin-top: 40px;
}

.cold-warm__item-content-container {
  max-width: 466px;
}

.cold-warm__item {
  width: 50%;
  border-top: 5px solid #000;
  padding: 40px 10px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cold-warm__item_cold {
  color: #0d8fe3;
  border-radius: 5px 0 0 5px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(13, 143, 227, 0.1)), to(rgba(255, 255, 255, 0)));
  background-image: -o-linear-gradient(top, rgba(13, 143, 227, 0.1), rgba(255, 255, 255, 0));
  background-image: linear-gradient(to bottom, rgba(13, 143, 227, 0.1), rgba(255, 255, 255, 0));
  border-color: #0d8fe3;
}

.cold-warm__item_cold::before {
  content: " ";
  height: 0;
  width: 0;
  top: -1px;
  position: absolute;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #0d8fe3;
}

.cold-warm__item_warm {
  color: #ffb903;
  border-radius: 0 5px 5px 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 185, 3, 0.1)), to(rgba(255, 255, 255, 0)));
  background-image: -o-linear-gradient(top, rgba(255, 185, 3, 0.1), rgba(255, 255, 255, 0));
  background-image: linear-gradient(to bottom, rgba(255, 185, 3, 0.1), rgba(255, 255, 255, 0));
  border-color: #ffb903;
}

.cold-warm__item_warm::before {
  content: " ";
  height: 0;
  width: 0;
  top: -1px;
  position: absolute;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #ffb903;
}

.cold-warm__title {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 30px;
  text-align: center;
}

.cold-warm__img {
  width: 100%;
  margin-bottom: 35px;
}

.cold-warm__about-list {
  text-align: left;
  margin-bottom: 43px;
}

.cold-warm__about-list-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  position: relative;
  color: #000000;
}

.cold-warm__about-list-item::before {
  content: " ";
  width: 25px;
  height: 25px;
  float: left;
  margin-right: 17px;
  background-color: #e8e8e8;
  border-radius: 50%;
}

.cold-warm__about-list-item::after {
  content: "✓";
  color: #2e2e2e;
  position: absolute;
  left: 8px;
  top: -3px;
}

.cold-warm__price-btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  color: #000;
}

.cold-warm__price {
  margin-right: 10px;
}

.cold-warm__price-value {
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 15px;
}

.cold-warm__price-text {
  font-size: 14px;
}

.cold-warm__btn {
  width: 262px;
  height: 65px;
  -webkit-box-shadow: 0 2px 20px rgba(255, 153, 0, 0.4);
          box-shadow: 0 2px 20px rgba(255, 153, 0, 0.4);
  border-radius: 10px;
  border: 1px solid #ffc600;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffed26), to(#ffb400));
  background-image: -o-linear-gradient(top, #ffed26 0%, #ffb400 100%);
  background-image: linear-gradient(to bottom, #ffed26 0%, #ffb400 100%);
  color: #000000;
  font-family: "OpenSansCondensed";
  font-size: 19px;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
}

.screen-balcony-decoration {
  background-color: #f7f7f7;
}

.screen-balcony-decoration__feedback {
  margin-left: auto;
}

.balcony-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.balcony-tabs > input {
  display: none;
}

.balcony-tabs input[type="radio"]:checked + label {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.05)), to(rgba(0, 0, 0, 0)));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0));
  background-color: transparent;
  border: none;
  border-top: 10px solid #0d8fe3;
  position: relative;
  overflow: hidden;
}

.balcony-tabs input[type="radio"]:checked + label::before {
  content: " ";
  position: absolute;
  top: -8px;
  width: 16px;
  height: 16px;
  background-color: #0d8fe3;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.balcony-tabs input[type="radio"]:checked + label > p {
  border-bottom: none;
  color: #0085db;
}

.balcony-tabs__with-materials {
  color: #000000;
  font-size: 12px;
}

.balcony-tabs > input:nth-of-type(1):checked ~ div:nth-of-type(1),
.balcony-tabs > input:nth-of-type(2):checked ~ div:nth-of-type(2),
.balcony-tabs > input:nth-of-type(3):checked ~ div:nth-of-type(3),
.balcony-tabs > input:nth-of-type(4):checked ~ div:nth-of-type(4) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.balcony-tabs__price {
  color: #0d8fe3;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 5px;
}

.balcony-tabs__icon {
  width: 110px;
  height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-right: 45px;
  margin-bottom: 45px;
}

.balcony-tabs__icon-content {
  max-width: 470px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.balcony-tabs__icon-img {
  border-radius: 50%;
  margin-bottom: 17px;
}

.balcony-tabs__icon-about {
  color: #000000;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
}

.balcony-tabs__icon-price {
  margin-top: auto;
}

.balcony-tabs__item {
  margin-top: 40px;
  width: 100%;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.balcony-tabs__item-img {
  margin-right: 60px;
}

.balcony-tabs__item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 40px;
}

.balcony-tabs__item-title {
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  text-align: left;
}

.balcony-tabs__item-text {
  color: #000000;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.balcony-tabs__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25%;
  height: 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.balcony-tabs__label-text {
  color: #000000;
  font-family: "OpenSans";
  font-size: calc(12px + 8 * ((100vw - 645px) / 525));
  font-weight: 600;
  text-transform: uppercase;
  border-bottom: 1px dotted #000000;
  line-height: 32px;
  -webkit-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
}

.balcony-tabs__label-text:hover {
  -webkit-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
  color: #0085db;
  border-color: #0085db;
}

.balcony-tabs__palette {
  text-align: center;
  width: 60px;
  margin-right: 20px;
  margin-bottom: 36px;
}

.balcony-tabs__palette-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 400px;
  white-space: nowrap;
  margin-top: 30px;
}

.balcony-tabs__palette-circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-bottom: 16px;
}

.balcony-tabs__palette-circle_color_white {
  background-color: #fff;
}

.balcony-tabs__palette-circle_color_smoky {
  background-color: #434b5a;
}

.balcony-tabs__palette-circle_color_cream {
  background-color: #f8f0d3;
}

.balcony-tabs__palette-circle_color_citric {
  background-color: #faf49b;
}

.balcony-tabs__palette-circle_color_pink {
  background-color: #f8b6b6;
}

.balcony-tabs__palette-circle_color_salad {
  background-color: #d3f8dc;
}

.balcony-tabs__palette-circle_color_ligtgray {
  background-color: #e4e4e4;
}

.balcony-tabs__palette-circle_color_bluegray {
  background-color: #878f9f;
}

.balcony-tabs__palette-circle_color_greengray {
  background-color: #879f90;
}

.balcony-tabs__palette-circle_color_beige {
  background-color: #ddd7c2;
}

.balcony-tabs__palette-name {
  font-size: 10px;
  text-align: center;
}

.balcony-tabs__external {
  margin: 40px 0;
}

.balcony-tabs__external-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.balcony-tabs__external-container:not(:last-child) {
  margin-bottom: 30px;
}

.balcony-tabs__external-img-container {
  width: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
}

.balcony-tabs__external-img {
  text-align: right;
}

.balcony-tabs__roof {
  margin-top: 30px;
  margin-bottom: 36px;
}

.balcony-tabs__roof-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.balcony-tabs__roof-container:not(:last-child) {
  margin-bottom: 20px;
}

.balcony-tabs__roof-img {
  margin-right: 20px;
}

.balcony-tabs__roof-price {
  margin-top: 20px;
}

.screen-gallery {
  background-color: #fff;
}

.screen-gallery__row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.screen-gallery__row:not(:last-child) {
  margin-bottom: 30px;
}

.screen-gallery__img {
  width: 100%;
}

.screen-gallery__img-container {
  position: relative;
  min-width: 150px;
  max-width: 270px;
  list-style: none;
}

.screen-gallery__img-container:not(:last-child) {
  margin-right: 30px;
}

.screen-gallery__img-zoom {
  margin: -20px 0 0 -20px;
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transition: -webkit-transform 0.7s;
  transition: -webkit-transform 0.7s;
  -o-transition: transform 0.7s;
  transition: transform 0.7s;
  transition: transform 0.7s, -webkit-transform 0.7s;
}

.screen-gallery__img-zoom:hover {
  cursor: pointer;
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: -webkit-transform 0.7s;
  transition: -webkit-transform 0.7s;
  -o-transition: transform 0.7s;
  transition: transform 0.7s;
  transition: transform 0.7s, -webkit-transform 0.7s;
}

.white-popup {
  position: relative;
  background: transparent;
  padding: 25px;
  max-width: 800px;
  margin: 0 auto;
}

.white-popup img {
  width: 100%;
  border-radius: 5%;
}

.screen-warranty {
  background-color: #0686c5;
}

.screen-warranty__item {
  text-align: center;
  width: 180px;
}

.screen-warranty__item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.screen-warranty__item-container:not(:last-child) {
  margin-bottom: 80px;
}

.screen-warranty__item-img {
  height: 70px;
  margin-bottom: 30px;
}

.screen-warranty__item-text {
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
}

.screen-pay {
  background-color: #fff;
}

.screen-pay__title {
  margin-bottom: 80px;
  text-align: center;
  color: #333333;
  font-size: calc(24px + 6 * ((100vw - 320px) / 850));
  font-weight: 700;
}

.screen-pay__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.screen-pay__item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.screen-pay__item-img {
  margin-right: 30px;
}

.screen-pay__item-text {
  color: #000000;
  font-size: 20px;
}

.screen-promo {
  height: 600px;
  background: url("../img/man-with-tool-belt.jpg") center center no-repeat;
  background-size: cover;
}

.screen-promo__container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.screen-promo__promo {
  color: #008cce;
  font-size: calc(44px + 4 * ((100vw - 320px) / 850));
  font-weight: 700;
}

.screen-promo__promo-text {
  color: #000000;
  font-size: 24px;
  line-height: 40px;
}

.screen-promo__timer {
  max-width: 325px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  padding: 25px;
}

.screen-promo__timer-title {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.screen-contacts__container {
  background-color: #fff;
}

.screen-contacts__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.screen-contacts__map {
  width: 570px;
  height: 450px;
  margin-right: 130px;
}

.screen-contacts__contacts-container {
  min-width: 280px;
}

.screen-contacts__contacts-container:not(:last-child) {
  margin-bottom: 36px;
}

.screen-contacts__contacts-title {
  color: #008cce;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 20px;
}

.screen-contacts__contacts-text {
  color: #000000;
  font-size: calc(14px + 4 * ((100vw - 320px) / 850));
  font-weight: 600;
  line-height: 26px;
}

.screen-contacts__contacts-text_underline {
  text-decoration: underline;
}

.screen-quastions {
  background-color: #00a0eb;
}

.screen-quastions__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.screen-quastions__text {
  color: #ffffff;
  font-size: calc(24px + 6 * ((100vw - 320px) / 850));
  margin-right: 40px;
  text-align: center;
}

.screen-quastions__btn {
  background-color: transparent;
  color: #ffffff;
  font-size: calc(24px + 6 * ((100vw - 320px) / 850));
  font-weight: 600;
  text-decoration: underline;
}

.footer {
  background-color: #fff;
}

.footer__container {
  padding: 35px 0 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__text {
  color: #000000;
  font-size: 15px;
  line-height: 20px;
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer__contacts-tel {
  color: #333333;
  font-size: 18px;
  margin-bottom: 11px;
}

.footer__contacts-email {
  color: #0090d5;
  font-size: 14px;
  text-decoration: underline;
}

.modal {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(107, 197, 255, 0.58);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.modal__is-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal__close {
  top: -45px;
  right: 0;
  position: absolute;
  width: 25px;
  height: 25px;
  font-size: 25px;
  line-height: 1em;
  border: none;
  background-color: transparent;
}

@media (min-width: 645px) {
  .balcony-tabs input[type="radio"]:checked + label + input + .balcony-tabs__label {
    border: none;
  }

  .balcony-tabs__label:not(:first-of-type) {
    border-left: 2px solid transparent;
    -o-border-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
       border-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
       border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    border-image-slice: 1;
  }
}

@media (min-width: 1170px) {
  .container {
    padding: 80px 0;
  }

  .screen-1__text-small {
    font-size: 26px;
  }

  .screen-1__text-big {
    font-size: 55px;
  }

  .balcony-tabs__label-text {
    font-size: 20px;
  }

  .screen-contacts__contacts-text {
    font-size: 18px;
  }

  .screen-quastions__text {
    font-size: 30px;
  }

  .screen-quastions__btn {
    font-size: 30px;
  }
}

@media (max-width: 1050px) {
  .screen-contacts__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .screen-contacts__map {
    margin: 0 auto 50px auto;
  }

  .screen-contacts__contacts {
    margin-left: 10px;
  }
}

@media (max-width: 965px) {
  .header__company-specialization {
    display: none;
  }

  .header__call-measurer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .screen-1__feedback,
  .screen-balcony-decoration__feedback {
    display: none;
  }
}

@media (max-width: 900px) {
  .screen-1__container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-left: 10px;
  }

  .screen-1__text-container {
    margin-top: 10px;
    margin-bottom: 250px;
  }

  .balcony-tabs__label {
    height: 80px;
  }

  .screen-pay__title {
    margin-bottom: 40px;
  }

  .screen-pay__item {
    width: 305px;
  }

  .screen-pay__item:not(:last-child) {
    margin-bottom: 30px;
  }

  .screen-pay__item-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .screen-promo__container {
    padding: 10px 0 !important;
  }

  .screen-promo__promo {
    margin-left: 10px;
  }

  .screen-promo__promo-text {
    margin-left: 10px;
    color: #b32020;
    margin-top: auto;
    margin-bottom: 40px;
  }

  .screen-quastions__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .screen-quastions__text {
    margin-bottom: 20px;
    margin-right: 0;
  }
}

@media (max-width: 740px) {
  .header__work-time {
    display: none;
  }

  .glazing-item {
    margin: 0 25px 40px 25px;
  }

  .cold-warm {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .cold-warm__item {
    width: 100%;
  }
}

@media (max-width: 690px) {
  .screen-gallery__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 0 !important;
  }

  .screen-gallery__img-container {
    margin: 0 0 30px 0 !important;
  }
}

@media (max-width: 645px) {
  .screen-balcony-decoration__contaier {
    padding-bottom: 35px;
  }

  .balcony-tabs__icon {
    margin-right: 22px;
    margin-left: 22px;
  }

  .balcony-tabs__icon-content {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .balcony-tabs__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 10px;
  }

  .balcony-tabs__item-img {
    margin-right: 0;
    margin-bottom: 60px;
  }

  .balcony-tabs__label {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 50%;
    -o-border-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
       border-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
       border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    border-image-slice: 1;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
  }

  .balcony-tabs__label-text {
    font-size: 12px;
  }

  .balcony-tabs__palette-container {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 610px) {
  .header__container {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .header__tel {
    display: none;
  }

  .screen-warranty__item {
    margin-right: 10px;
    margin-left: 10px;
  }

  .screen-warranty__item-img {
    height: 55px;
  }

  .screen-warranty__item-text {
    font-size: calc(12px + 6 * ((100vw - 320px) / (610 - 320)));
  }

  .screen-contacts__map {
    width: 410px;
  }

  .footer__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__contacts {
    display: none;
  }

  .footer__logo {
    display: none;
  }
}

@media (max-width: 560px) {
  .screen-gallery__img-container {
    width: 200px;
  }
}

@media (max-width: 510px) {
  .advantages {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .advantages__item {
    margin: 0 40px 50px 40px !important;
  }
}

@media (max-width: 470px) {
  .cold-warm__price-btn-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .cold-warm__price {
    margin-bottom: 40px;
  }

  .screen-contacts__map {
    width: 300px;
  }
}

@media (max-width: 410px) {
  .screen-gallery__img-container {
    width: 150px;
  }
}

@media (max-width: 390px) {
  .advantages {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .advantages__item {
    margin: 0 20px 50px 20px !important;
  }
}

@media (max-width: 379px) {
  .glazing-item {
    margin: 0 10px 40px 10px;
  }
}

@media (max-width: 359px) {
  .header__call-measurer {
    display: none;
  }
}

@media (min-wdth: 1170px) {
  .screen-title {
    margin-bottom: 80px;
  }

  .screen-title__text {
    font-size: 30px;
  }

  .screen-pay__title {
    font-size: 30px;
  }
}

.webp .screen-1{ background: url(../img/bg-1.webp) center center no-repeat; }

.webp .screen-promo{ background: url(../img/man-with-tool-belt.webp) center center no-repeat; }